In [1]:
language ='Java Script'
print(f"This is the language of {language}") # used currently

This is the language of Java Script

In [2]:
language ='Java Script'
print("This is the language of {}".formate(language)) # used currently

AttributeError: 'str' object has no attribute 'formate'

In [ ]:
language ='Java Script'
print("This is the language of {}".format(language)) # Old ways to fill the blanks using python

In [ ]:
#fillig multiple blanks using format option
num= 'first'
language ='python'
print("This is the {} class of {}".format(num,language))

In [ ]:
# we cam also use + sign to fill the blanks but not suggested and not professionl 
num= 'first'
language ='python'
print("This is the "+num+" class of "+language+"")

In [ ]:
a=int(input())
b=int(input())
c=a+b
print(f"the result sum of a:{a} and b:{b} is c:{c}")

In [ ]:
# small program with Bool data and if statement 
class_start_at =1500
you_came_at =1600
if you_came_at <class_start_at:
    print('You are on time')
else:
    print("you are late")
you_came_at <class_start_at

In [ ]:
# User input funtion and Type conversion in Python

In [ ]:
# Multi variable assignement
a,b,c=1,'one',1.0

In [ ]:
print(type(a))
print(type(b))
print(type(c))

In [ ]:
# Using f format with input function
first_name= input("Enter your name: ")
sec_name=input("Enter your name: ")
print(f"You have entered first name as: {first_name} and second name as :{sec_name}")
#print("you have entered:{}".format(sec_name))

In [ ]:
fnm=float(input("Enter your number"))
snm=float(input("Enter your number"))
print(f"sum of firtNumer:{fnm} and sec number :{snm} is :{fnm+snm}")

In [ ]:
a_a= "Umesh"
print(type(int(a_a)))

In [ ]:
# how to write output in multiline
# define the variables
name =input('enter your name')
place=input("Enter your place")
age=input("Enter your age")
wgt=input("enter your weight")
birth =input("Enter your YOB")
print(f"""
My Name is {name}
I live in {place}
My age is {age}
My weight is {wgt}
I born in {birth}""")

In [ ]:
# Memory Block in Python
# it will assigne the same id to same numbers doesnt matter if variables are different  
a=11
b=10
c=10
id(b)

In [ ]:
id(c)

In [ ]:
a='Khush'
b=17
id(a)

In [ ]:
x=10
bool(x)

In [ ]:
# How to check how much space a variale is taking in memory -check yourself

In [ ]:
#if else with logical funtions 
Start= True
print(not Start) # not funtion here will print the false result of opposit result of condition

In [ ]:
rain =True

if rain:
    print("its raining lets wfh")
else:
    print("lets go to office")

In [ ]:
class_start =int(input("Hey friends, is class started"))

if not class_start == 1:
    print("class not start")
    print("lets revise")
else:
    print("class start")
    print("lets learn")

In [ ]:
attend =60
assin =75
sport_per =True

if attend >= 75 and assin >=75:
    if sport_per:
        print("eligible")
    else:
        print("able to appear but no extra marks")
else:
    print("not eligible")

In [ ]:
#mathematical operator

A= 23
B=3
# check if A is divisable or evan number or not

if A%B ==0:
    print(f"A:{A} is divisable with B:{B}")
else:
    print("its not divisable and odd number")

In [ ]:
#String Manipulation/Indexing

In [ ]:
sen="Now Playing - 8th Oct live Class Python String methods"

In [ ]:
name ='umesh'

In [ ]:
name[0]

In [ ]:
# indexing will always start from 0th Index.
# the first index is always included in count and last index is exluded

In [ ]:
#when we use : after index it means it will print all from that index till end or
name[1:]

In [ ]:
#when we use : before index it means it will print all till that index
name[:1]

In [ ]:
# we can use index to take substring of a string
# this will include the first index but not the last the 3rd index is omitted
# when we use [: :] this means we are taking steps in the strgin 
# here the first : means start second : means end and after last is step
name[1:3]

In [ ]:
date="08/10/2022"

In [ ]:
print(date[:2])

In [ ]:
print(date[3:5])

In [ ]:
#use of slicing/indexing in print statemet
date="08/10/2022"
day=date[:2]
month =date[3:5]
year =date[6:]
print(f"day is {day} an months is {month} and year is {year}")

In [ ]:
# we can make this user input funtion also 
date=input("Entry date here")
day=date[:2]
month =date[3:5]
year =date[6:]
print(f"day is {day} an months is {month} and year is {year}")

In [ ]:
# calcuate year/age
year_of_birth=int(input("Entry date here "))
age =2022-year_of_birth
print(age)

In [ ]:
#Palindrome sequence or revers slicing
# when we use [: :] this means we are taking steps in the strgin 
# here the first : means start second : means end and after last is step
sent ='My name is Umesh'
len(sent)

In [ ]:
sent ='My name is Umesh'
print(sent)
print(sent[1:14:2])

In [ ]:
sent[::-1]

In [ ]:
# lets test some words hows are same from in all order
# bob
#madam
#mom
#pop
#malylam
# these type of words are called palindrome words

data='mom'
print(data[::-1])

In [ ]:
data =input("enter your string ")
rev =data[::-1]
if data == rev:
    print(f"input srting is palindrome where data: {data} and revers: {rev}")
else:
    print(f"input srting is not palindrome where data: {data} and revers: {rev}")

In [ ]:
data =input("enter your string ")
rev =data[::-1]
if data == rev:
    print(f"input srting is palindrome where data: {data} and revers: {rev}")
else:
    print(f"input srting is not palindrome where data: {data} and revers: {rev}")

In [ ]:
#Mutability and non-mutability/immutable
# if we can chagne the string index with updated value then its mutable/mutability else is not mutable/non-mutability/immutable
name="umesh"
name[0]='r'

In [ ]:
# what if we need to change the value of a string's index 
name ='Fother' # if this is mistyped and values has been assigned to the variable then how to change it 
# concate is one option using indexing
# as we need to change the value of 0th index we take all the remaining part of string 
#name[1:]
#now concate it and assigne the value back to name variable 
name ="M"+name[1:]
# same way we change the string property using this mathod 
#but strings are immutable
name

In [ ]:
# other way to change the value of string is string funtions replace()
name ='Fother'
name =name.replace("F","M")

In [ ]:
name

In [ ]:
# to check all the funtions available for string manipulation type the string.and press Tab buttion
#you will see all the available funtions

In [ ]:
name="   Umesh  "

In [ ]:
len(name)

In [ ]:
len(name.strip())
# Strip is used to remove spaces from front and end
#rstrip remove the right/ending space and lstrip removes the space from left of starting

In [ ]:
len(name.lstrip())

In [ ]:
len(name.rstrip())

In [ ]:
# also we can use replace funtion to repalce space with nothing 
name

In [ ]:
name=name.replace(" ","")
len(name)

In [ ]:
# how to count of occurance of a character in string
# we use count()
name="Shree Ram"
name.count("e")

In [ ]:
# how to spli string we will use split funtion , split funtion will always return the result in list format
name="Shree Ram"
fst_nm, lst_nm =name.split(" ")
print(fst_nm)
print(lst_nm)

In [ ]:
fst_nm

In [ ]:
name="umesh"
name.center(10,"#")

In [ ]:
# for auto correcting we use string funtions 
name =input("enter your name")

print(f"user input: {name}")

if name.istitle():
    print(f"user has given correct input: {name}")
else:
    print(f"user has given wrong input: {name} we need to correct it")
    name=name.title()
    print(f"correct input is: {name}")

In [ ]:
# for auto correcting we use string funtions 
name =input("enter your name")

print(f"user input: {name}")

if name.istitle():
    print(f"user has given correct input: {name}")
else:
    print(f"user has given wrong input: {name} we need to correct it")
    name=name.title()
    print(f"correct input is: {name}")

In [7]:
# IF ELIF ELSE statement 
total_amount =int(input())

if total_amount >=999 and total_amount < 1500:
    final_price =total_amount-(total_amount*0.10)
    print(f"pay amount:{final_price}")
elif total_amount >=500 and total_amount <=998:
    final_price =total_amount-(total_amount*0.05)
    print(f"pay amount:{final_price}")
else:
    print(f"final price is :{total_amount}")

999
pay amount:899.1

In [10]:
## how to check for positive or negative number
# lets use nested if & IF
number= float(input("Enter your number "))

if number ==0:
    print("its zero")
elif number > 0:
    print("its positive")
else:
    print("its negative")

Enter your number 1
its positive

In [12]:
#neted if
number= float(input("Enter your number "))

if number >=0:
    if number ==0:
        print("its zero")
    else:
        print("its positive")
else:
    print("its negative")

Enter your number -10
its negative

In [13]:
# single line code 
# these codes are written in sigle line (but not recommanded to use in offfical or production code)
"Above" if 100 >99 else "Below"

'Above'

In [14]:
print("Above" if 100 >99 else "Below")

Above

In [15]:
# using input 
num =int(input("Enter your number "))
print("Yes" if num>100 else "No")

Enter your number 110
Yes

In [16]:
# using input 
num =int(input("Enter your number "))
print("Yes" if num>100 else "No")

Enter your number 99
No

In [17]:
# While loop 
cutoff =400
scores =[100,200,300,399,400]
year =0

while scores[year] < cutoff:
    print(f"your score is : {scores[year]}")
    print("i will attempt next year")
    year = year+1

your score is : 100
i will attempt next year
your score is : 200
i will attempt next year
your score is : 300
i will attempt next year
your score is : 399
i will attempt next year

In [18]:
# while loop executes the program as long as the condition is try

notes =10
count =1 
while count <=notes:
    print(f"the count is :{count} and notes value is :{count*10}")
    count =count+1

the count is :1 and notes value is :10
the count is :2 and notes value is :20
the count is :3 and notes value is :30
the count is :4 and notes value is :40
the count is :5 and notes value is :50
the count is :6 and notes value is :60
the count is :7 and notes value is :70
the count is :8 and notes value is :80
the count is :9 and notes value is :90
the count is :10 and notes value is :100

In [31]:
# we can wrtie tables also using the while loop
tab =49
cnt =1

while cnt <=10:
    print(tab*cnt)
    cnt =cnt+1

49
98
147
196
245
294
343
392
441
490